<main class="main">
    <div class="main__content">
        <h1 class="title title--center">Створити</h1>
        <ul class="choose">
            <a href="/spotify-create">
                <li class="choose__item">
                    <img src="/svg/music.svg" alt="">
                    <div class="choose__content">
                        <strong class="title">Плейлист</strong>
                        <p class="choose__text">Создайте плейлист и добавьте треки</p>
                    </div>
                </li>
            </a>
            <a href="/spotify-create?isMix=true">
                <li class="choose__item">
                    <img src="/svg/mix.svg" alt="">
                    <div class="choose__content">
                        <strong class="title">Плейлист</strong>
                        <p class="choose__text">Создайте плейлист уже со случайными треками</p>
                    </div>
                </li>
            </a>
        </ul>
    </div>
</main>