@use '../../lib/spotify.scss' as spotify;

.track__list {
    padding: 32px;
    background-color: #282828;
    border-radius: 8px;
}

.header {
    display: flex;
    justify-content: flex-end;
}

.add-button {
    display: grid;
    grid-template-columns: 92px 1fr;
    align-items: center;
    gap: 24px;
    color: #FFFFFF;
    font-size: 18px;
}