<main class="main">
    <div class="main__content">
        <div class="header">
            <h1 class="title title--center">Моя Библиотека</h1>
            <div class="header__nav">
                <a href="/spotify-search">
                    <img src="/svg/search.svg" alt="">
                </a>
                <a href="/spotify-choose">
                    <img src="/svg/add__playlist.svg" alt="">
                </a>
            </div>
        </div>
        <ul class="card">
            {{#each data.playList}}
            <a href="/spotify-playlist?id={{id}}">
                <li class="card__item">
                    <img src="https://picsum.photos/325/325" alt="">
                    <strong class="card__title">{{name}}</strong>
                    <p class="card__text">{{ tracks.length }} &nbsp;треков</p>
                </li>
            </a>
            {{/each}}
        </ul>
    </div>
</main>